<head_merge>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />
    <!--
    <link rel="stylesheet" type="text/css" href="/vendor/jstree/dist/themes/style.css"></link>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    -->
    
    <!--
    Client-side LessCSS compilation. Uncomment for rapid LessCSS development.
    -->
    <link rel="stylesheet/less" type="text/css" href="/less/main.less" />
    <!-- 
    <link rel="stylesheet/less" type="text/css" href="/sobu/less/sobu.less"/>
     -->
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
    <!--
      -->
    <script type="text/javascript" src="/vendor/less.js/dist/less-1.4.0.js"></script>
    
    <script type="text/javascript" src="/js/config.js"></script>
    
    <!-- jQuery for Lift -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="/vendor/requirejs/require.js" data-main="arriba"></script>
    
    <script type="text/x-jsrender" id="tree-node-template">
      <li>
        {{if hasChildren}}
        <span class="collapse-trigger icon {{:closedIcon}}"
          data-toggle="collapse"
          data-target="#treenode{{:id}}"></span>
         {{if current}}<span class="current">{{:slug}}</span>{{else}}<a href="{{:href}}">{{:slug}}</a>{{/if}}
        <ul class="collapse" id="treenode{{:id}}"></ul>
        {{else}}
        <span class="icon {{:fileIcon}}"></span>
        {{if current}}<span class="current">{{:slug}}</span>{{else}}<a href="{{:href}}">{{:slug}}</a>{{/if}}
        {{/if}}
      </li>
    </script>
</head_merge>