<div>

  <head_merge>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--
    <link type="text/css" rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" />
    -->
    
    <!--
    <link type="text/css" rel="stylesheet" href="/css/bootstrap/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    -->
    
    <!--
    Client-side LessCSS compilation. Uncomment for rapid LessCSS development.
    -->
    <!-- 
    <link rel="stylesheet/less" type="text/css" href="/less/main.less" />
    <link rel="stylesheet/less" type="text/css" href="/sobu/less/sobu.less"/>
     -->
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
    <!-- 
    <script type="text/javascript" src="/vendor/less.js/dist/less-1.4.0.js"></script>
    <script type="text/javascript" src="/js/config.js"></script>
     -->
    
    <!-- jQuery for Lift -->
<!--
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/requirejs/require.js" data-main="moscato"></script>
  -->
    
    <script type="text/x-jsrender" id="tree-node-template">
      <li>
        {{if hasChildren}}
        <span class="collapse-trigger icon {{:closedIcon}}"
          data-toggle="collapse"
          data-target="#treenode{{:id}}"></span>
         {{if current}}<span class="current">{{:slug}}</span>{{else}}<a href="{{:href}}">{{:slug}}</a>{{/if}}
        <ul class="collapse" id="treenode{{:id}}"></ul>
        {{else}}
        <span class="icon {{:fileIcon}}"></span>
        {{if current}}<span class="current">{{:slug}}</span>{{else}}<a href="{{:href}}">{{:slug}}</a>{{/if}}
        {{/if}}
      </li>
    </script>
  </head_merge>

  <div class="moscato">
    <div class="container">
      <div class="row">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Moscato</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <!--
          <ul class="nav navbar-nav pull-right">
            <li><a href="/examples/navbar/">Default</a></li>
            <li><a href="/examples/navbar-static-top/">Static top</a></li>
            <li class="active"><a href="/examples/navbar-fixed-top/">Fixed top</a></li>
          </ul>
            -->
        </div><!--/.nav-collapse -->
      </div>
      <div class="row">
        <div class="col-md-12 toolbar">
         <span class="btn-group" id="nav-dropdown">
           <span data-lift="Resources.navButton"></span>
           <span class="btn btn-default breadcrumb-container"><ul data-lift="breadcrumb"></ul></span>
         </span>
        </div>
        <div class="col-md-12 toolbar">
          <span data-lift="editLink"><span class="icon icon-edit"></span></span>
          <span data-lift="createLink"><span class="icon icon-plus"></span></span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="drawer-trigger" data-target="#moscato-drawer">
    <span class="icon icon-reorder"></span>
  </div>
  
</div>

