ul.tree {
  list-style-type: none;
  padding-left: 0;
  font-size: @font-size-small;
  
  .icon {
    display: inline-block;
    width: 1.5em;
    text-align: center;
  }
  
  a {
    //color: #000000;
  }
  
  ul {
    list-style-type: none;
    padding-left: 1.5em;
  }
  
  .collapse-trigger {
    cursor: pointer;
  }
  
  ul.tree {
    padding-left: 20px;
  }
  
  .current {
    font-weight: bold;
  }
}
